@function mainContainerSize($width, $distanceBetween) {
  @return ($width * 4) + ($distanceBetween * 3);
}

.main {
  display: grid;
  justify-content: center;
  padding-top: 50px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: $distanceUnderCards $distanceBetweenCards;
    max-width: mainContainerSize($cardWidth, $distanceBetweenCards);
  }
}
